body{
  font-family:inherit;
  margin:10;

}

.d1{
  background-image:url(../images/pizza7.jpg );
  text-align: center;
  background-size: 1200px;
  color:white;
  padding-top: 340px;
  padding-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
h1{
  font-size: 40px;
  text-align: center;
  font-family: 'Kalam';
}
p{
  font-size: 20px;
}
/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 50px;
  right: 700px;
  background-color: orange;
  color: white;
  padding-left: 30px;
  padding-right: 20px;
}
.large{
  display: none;
  background-color: orange;
  color: white;
}
.medium{
  display: none;
  background-color: orange;
  color: white;
}
.small{
  display: none;
  background-color: orange;
  color:white;
}
strong{
  text-align: center;
  font-size: 30px;
}
.AB{
  text-align: center;

}
.ct{
  text-align: center;
}
.ef{
  text-align: center;
  background-color: orange;
}
.col-md-8{
  padding-left: 500px;
}
